{% extends 'main/base.html' %}
{% load static %}

{% block head_block %}
    <title>MyCurriculum - Home</title>
    <style>
        .homepage-main {
            padding: 1em;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div class="homepage-main">
        {% if user.is_authenticated %}
            {% if admined_courses %}
                <h2>Administrated Courses</h2>
                {% for admined_course in admined_courses %}
                    <div class="course-card">
                        <div class="course-card-left">
                            <p class="course-card-title">{{ admined_course.course.course_code }} - {{ admined_course.course.title }}</p>
                        </div>
                        <div class="course-card-right">
                            <a href="/course/{{ admined_course.course.course_code }}" class="course-card-link">View</a>
                            <a href="/course/{{ admined_course.course.course_code }}/manage" class="course-card-link">Manage</a>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
            {% if enrolled_courses %}
                <h2>Enrolled Courses</h2>
                {% for enrolled_course in enrolled_courses %}
                    <div class="course-card">
                        <div class="course-card-left">
                            <p class="course-card-title">{{ enrolled_course.course.course_code }} - {{ enrolled_course.course.title }}</p>
                        </div>
                        <div class="course-card-right">
                            <a href="/course/{{ enrolled_course.course.course_code }}" class="course-card-link">View</a>
                            <a href="/course/{{ enrolled_course.course.course_code }}/unroll" class="course-card-link">Unroll</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You aren't enrolled in any courses, visit <a href="/courses">Courses</a> to enroll.</p>
            {% endif %}
        {% else %}
            <h2>Courses</h2>
            {% if courses %}
                <p>There are no courses in the database! Only Moderators can create new courses.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}