body {
    margin: 0px;
    font-family: "Arial";
    background-color: lightslategrey;
}
header {
    background-color: #003865;
    color: white;
    padding: 16px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
header h1 {
    margin-block: 0px;
}
header nav ul {
    margin: 0px;
}
header nav li {
    display: inline-block;
    margin-left: 4px;
}
header nav li a {
    color: white;
    font-size: 20px;
}
.error-text {
    color: red;
}
.card {
    background-color: white;
    display: flex;
    padding: 24px;
}
button, .submit-button {
    background-color: lightskyblue;
    color: white;
    border: none;
    padding: 8px;
}