{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Moderation - Courses
{% endblock %}

{% block body_block %}
    <a href="/moderation/courses/create">Create New</a>
   {% for course in courses %}
       <div class="course-card">
            <span>{{ course.course_code }} - {{ course.title }}</span>
            <a href="/course/manage/{{ course.course_code }}">Manage</a>
            <a href="/moderation/courses/delete/{{ course.course_code }}">Delete</a>
       </div>
   {% endfor %}

{% endblock %}