{% extends 'base.html' %}
{% load static %}

{% block title_block %}
   Courses
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}">
{% endblock %}

{% block body_block %}
    <h2>Course List</h2>
    {% if courses %}
        <div class="course-list">
            {% for course in courses %}
                <div class="card course-card">
                    <img src="{% static 'images/course.jpg' %}" width="350">
                    <h3>{{ course.title }}</h3>
                    <a class="link-button" href="/course/{{ course.course_code }}">View Course</a>
                    <a class="link-button" href="/enroll/{{ course.course_code }}">Enroll</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No courses found.</p>
    {% endif %}
    <div class="pagination-buttons">
        {% if prev_page >= 0 %}
            <a class="pagination-buttons-prev" href="/courses?page={{ prev_page }}">Previous Page</a>
        {% endif %}
        {% if courses %}
            <a class="pagination-buttons-next" href="/courses?page={{ next_page }}">Next Page</a>
        {% endif %}
    </div>
{% endblock %}