{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Manage Course
{% endblock %}

{% block body_block %}
  <a href="/course/manage_sessions/{{ course.course_code }}">Manage Course Sessions</a>
  <hr>
  <div class="manage-course-form">
        <form action="/course/manage/{{ course.course_code }}" method="post">
            {% csrf_token %}
            <table>
                {{ manage_course_form.as_table }}
            </table>
            <tr><input type="submit" value="Submit"></tr>
        </form>
  </div>
{% endblock %}