{% extends 'base.html' %}
{% load static %}

{% block title_block %}
   {{ course.course_code }} - {{ course.title }}
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/courses/view.css' %}">
{% endblock %}

{% block body_block %}
    <div class="course-header">
        <div class="course-header-text-container">
            <div class="course-header-text">
                <h1>{{ course.title }}</h1>
                <h3>{{ course.course_code }}</h3>
            </div>
        </div>
        <div class="course-tabs">
            <a class="link-button course-tab-button course-tab-button-active" href="#">Info</a>
            <a class="link-button course-tab-button" href="#">Comments</a>
        </div>
    </div>
    <div class="card">
        <p>{{ course.description }}</p>
    </div>
    <hr>
    <div class="course-sessions">
        {% for session in sessions %}
            <span>{{ session.start }} - {{ session.end }}</span>
        {% endfor %}
    </div>
{% endblock %}